<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BURRITOS MEXICANOS</title>
    <link rel="stylesheet" href="/static/imag/stilo.css">
</head>
<body>
    <header>
        <a href="http://127.0.0.1:5030/"><h1 class="titulo1">BURRITOS MEXICANOS</h1></a>
    <nav>
        <ul>
        <li><a href="http://127.0.0.1:5030/menu"><h1 class="titulo1">MENU</h1></a></li>
        <li><a href="http://127.0.0.1:5030/reser"><h1 class="titulo1">RESERVACION</h1></a></li>
        </ul>
    </nav>
    </header>
    <section id="MENU"></section>
    <section id="RESERVACION"></section>
    
<video src=""></video>

</body>
</html>